* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 140%
}

ul {
  display: inline-block;
}

li {
  display: inline-block;

}



/* TYPOGRAPHY */
h1 {
  color: #F5003B;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 4.8rem;
  font-weight: bold;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 3.2rem;
  font-weight: bold;
}

h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 130%;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 140%
}

/*link styles */

a {
  color: #D62665;
  text-decoration: none;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
}

/* LAYOUT */

.container {
    background-image: url("../images/phoenix-blue.png") , url("../images/phoenix-red.png");
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 62vh;
    position: relative;
    top: 0;
    margin: 0 auto;

}


/*-------- HEADER  ---------*/

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.header-grid-comp {
  display: inline-block;

}

/* NAVIGATION */

.navbar {
  background-color: #ffffff;
  display: block;
  height: 6.4rem;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}



.nav-grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.nav-right {
  margin-left: 12.65%;
}

.nav-link {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 3.1rem;
  width: 8.6rem;
  margin-right: 2.4rem;
}

.icon {
  display: none;
}



/* INDEX.HTML */

.greeting {
    margin: 9.6rem 0 0 0;
    padding-left: 12.65%;
}

.intro {
  font-weight: normal;
  margin-top: 2.4rem;
  padding-left: 12.65%;
  width: 36rem;
}


.work {
  margin: 9.6rem 0 0 4.68%;
}

.projects {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(450px, 1fr));
}


.project {
  width: 30.7rem;
/*  margin-left: 5.2rem; */
  margin-top: 4.8rem;
  padding-left: 12.65%;
}

.project-img {
  display: inline-block;
  width: 30.6rem;
  border-radius: .4rem;
}

.project-text {
  display: inline-block;
  margin: .8rem 0;

}

.project-title {
  margin-top: 2.4rem;
}

.project-description {
  margin-top: 1.6rem;
}

.button {
  color: #D62665;
  border-bottom: 2px solid;
  padding-bottom: 2px;
}

.project-link {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

/* .bag-link { */
/*  cursor: url("../images-copy/bag-cursor-icon.png"), auto; } */


/* FOOTER */

.connect {
  margin: 4.8rem 0 0 4.68%;
}

.talk {
  font-weight: normal;
  margin: 4.8rem 0 0 6.3%;
  width: 61.2rem;

}

.footer {
  background-image: url("../images/blue-bg-userflow.png");
  background-repeat: repeat;
  background-size: contain;
  height: 9.4rem;
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  min-width: 38rem;

}

.home-footer {
  background-image: url("../images-copy/bg-yellow.png") , url("../images-copy/bg-yellow.png");
}

.footer-project {
  background-image: url("../images-copy/bg-red.png") , url("../images-copy/bg-red.png");
}

.footer-items {
  width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.fas , .fab {
  color: #000;
  font-size: 2.4rem;
  margin: 1.6rem auto;
  padding-left: .8rem;
}

.fas:hover {
  color: #F5003B;
}

.fab:hover {
  color: #F5003B;
}

.signature {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.more {
  margin-top: 9.6rem;
}

/* ABOUT */

.more {
  margin: 14.4rem 0 0 4.68%;
}

.about-grid {
 display: grid;
 grid-template-columns:repeat(auto-fit, minmax(450px, 1fr));
}

.bio {
  margin: 7.2rem 0 0 15.28%;
  width: 30.7rem;
}

.portrait {
  background-image: url("../images-copy/halftone-portrait-blue.png") , url("../images-copy/halftone-portrait-red.png");
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  border-radius: .4rem;
  width: 38rem;
  margin-top: 7.2rem;
  margin-left: 12.65%;
}

.my-face {
  display: none;
}

.pull-quote {
  color: #F5003B;
  margin: 4.8rem 0 0 4.68%;
  max-width: 72.6rem;
  line-height: 120%;
  width: 66%;
}


/* PROJECT -1 */




.project-container {
    background-image: url("../images-copy/bag-phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 96% 50%;
    height: 62vh;
    top: 0;
    margin: 0 auto;


}

#top {
  margin-top: 14.4rem;
}


.process-grid {
 display: grid;
 grid-template-columns:repeat(auto-fit, minmax(450px, 5fr));

}

.left {
  margin: 3.6rem 0 0 15.28%;
  width: 39.7rem;
}

.right {
  margin-left: 12.65%;
  margin-top: 3.6rem;
  width: 39.7rem;
  grid-column-end: -1;
}

.bag-intro {
  margin-top: 7.2rem;

}

.blurb {
  margin-top: 2.4rem;
}

.top-blurb {
  margin-top: 3.6rem;
}

.roles,  {
  margin-top: 3.6rem;
}

.tools {
  margin-top: 3.6rem;
}


.roles-list, .tools-list {
 margin-top: 2.4rem;
}

.problem {
  margin-top: 14.4rem;
}

.process {
  margin: 9.6rem 0 0 4.68%;
}

.section-head {
  margin-top: 4.8rem;
}

.sections {
  margin-top: 9.6rem;
}

.follow{
  margin-top: 9.6rem;
}

.project-image {
  margin-top: 4.8rem;
  width: 38rem;
}

.yellow {
  background-image: url("../images-copy/bg-yellow.png");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 3.6rem;
}


.blue {
  background-image: url("../images-copy/bg-blue.png");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 3.6rem;
}

.red {
  background-image: url("../images-copy/bg-red.png");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 3.6rem;
}


.style-guide {
  margin: 9.6rem 0 0 7.14%;
}

.big-image-display {
  margin: 2.4rem 3.16%;
}

.persona-photos {
  border-radius: .8rem;
  margin-top: 3.6rem;
}

.smaller-persona {
  border-radius: .8rem;
  margin-top: 3.6rem;
  width: 24rem;
}

.persona-photos-blue {
  background: #2FDED4;
  border-radius: .8rem;
  margin-top: 3.6rem;
}

.hari {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
  margin-left: 2%;
  margin-top: -1%;
}

.khara {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
  margin-left: 2%;
  margin-top: -1%;
}


.big-images {
  display: inline-block;
  justify-content: center;
  margin: 4.8rem .83%;
}

.undertext {
  margin-top: 1.6rem;
}

.full-project-image {
  display: inline-block;
  width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(62, 114, 117, 0.4);
  border-radius: .4rem;
}


.testing {
  margin: 9.6rem 0 0 4.68%;
}


.conclusion {
  margin: 9.6rem 0 0 4.68%;;
}

.summary {

  margin-top: 4.8rem;
}

.to-top {
  margin: 7.2rem 7.14%;
}

/* PERSONAS */

.persona-display {
  top: 50%;
  left: 50%;
}

.persona-full {
  display: block;
  width: 80%;
  height: auto;

  margin: 9.6rem auto;
}

.persona-card {
  max-width: 80%;
}

/* PROJECT -2 */




.project-two-container {
    background-image: url("../images-copy/haricot-phone.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 96% 50%;
    height: 62vh;
    top: 0;
    margin: 0 auto;


}

.stricken {
  font-family: Pacifico;
  font-size: 4.8rem;
  line-height: 200%;
  text-decoration: line-through;
  opacity: 0.7;

}

.name-list {
  font-family: Pacifico;
  font-size: 4.8rem;
  line-height: 200%;

}

/* Haricot user stories meter */
/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {

  --chart-bg-color: rgba(211, 211, 211);
  --chart-line-color: rgba(60, 42, 84, 0);
  --chart-x-color: linear-gradient(#F5003B,#00E2F0);
  --line-color1: rgba(60, 42, 84,  .2);
  --line-color2: rgba(60, 42, 84, .4);
  --line-color3: rgba(60, 42, 84, .6);
  --line-color4: rgba(60, 42, 84, .8);
  --line-color5: rgba(60, 42, 84,  1);
  --white: white;
  --transition-delay: 0.6s;
  --transition-delay-step: 0.6s;
}


.priorities {
  display: block;
}



/* BODY
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  padding-top: 70px;
}

.chart-wrapper {
  display: grid;
  justify-content: center;
  grid-column-gap: 4rem;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
}


/* CHART-Y
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-y {
  display: grid;
  grid-row-gap: 3rem;
}


/* CHART-X
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-x {
  position: relative;
  width: 50px;
  border-radius: 25px;
  border: 0px solid var(--chart-line-color);
 /* background: var(--chart-bg-color);*/
  overflow: hidden;
}

.chart-wrapper .chart-x li {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  color: transparent;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background: var(--chart-x-color);
  transition: height 0.5s ease-out;
}

.chart-wrapper .chart-x li::before {
  content: attr(data-priority);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-top: 4px solid;
  width: 20px;
  opacity: 0;
  padding-left: 3px;
  color: var(--black);
  font-size: 0.75rem;
  transition: opacity 0.5s ease-out;
}

.chart-wrapper .chart-x li:nth-child(1)::before {
  border-color: var(--line-color1);
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step)
  );
}

.chart-wrapper .chart-x li:nth-child(2)::before {
  border-color: var(--line-color2);
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 2
  );
}

.chart-wrapper .chart-x li:nth-child(3)::before {
  border-color: var(--line-color3);
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 3
  );
}

.chart-wrapper .chart-x li:nth-child(4)::before {
  border-color: var(--line-color4);
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 4
  );
}

.chart-wrapper .chart-x li:nth-child(5)::before {
  border-color: var(--line-color5);
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 5
  );
}


/* CHART LABELS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-labels {
  opacity: 0;
  transition: opacity 0.6s 3.8s;
}

.chart-wrapper .chart-labels li + li {
  margin-top: 12px;
}

.chart-wrapper .chart-labels li::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.chart-wrapper .chart-labels li:nth-child(1)::before {
  background: var(--line-color5);
}

.chart-wrapper .chart-labels li:nth-child(2)::before {
  background: var(--line-color4);
}

.chart-wrapper .chart-labels li:nth-child(3)::before {
  background: var(--line-color3);
}

.chart-wrapper .chart-labels li:nth-child(4)::before {
  background: var(--line-color2);
}

.chart-wrapper .chart-labels li:nth-child(5)::before {
  background: var(--line-color1);
}


/* LOADED
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.loaded .chart-wrapper .chart-x li::before,
.loaded .chart-wrapper .chart-labels {
  opacity: 1;
}

.loaded .chart-wrapper .chart-x li:nth-child(1) {
  height: 60%;
  transition-delay: var(--transition-delay);
}

.loaded .chart-wrapper .chart-x li:nth-child(2) {
  height: 70%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step)
  );
}

.loaded .chart-wrapper .chart-x li:nth-child(3) {
  height: 80%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 2
  );
}

.loaded .chart-wrapper .chart-x li:nth-child(4) {
  height: 90%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 3
  );
}

.loaded .chart-wrapper .chart-x li:nth-child(5) {
  height: 100%;
  transition-delay: calc(
    var(--transition-delay) + var(--transition-delay-step) * 4
  );
}

.stories {
  margin-top: 7.2rem;
}
