* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {

}

ul {
  display: inline-block;
}

li {
  display: inline-block;

}



/* TYPOGRAPHY */
h1 {
  color: #F5003B;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 4.8rem;
  font-weight: bold;
}

h2 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 3.2rem;
  font-weight: bold;
}

h3 {
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 2.4rem;
  font-weight: bold;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 140%
}

/*link styles */

a {
  color: #D62665;
  text-decoration: none;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bold;
}

/* LAYOUT */

.container {
    background-image: url("../images/phoenix-blue.png") , url("../images/phoenix-red.png");
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 62vh;
    position: relative;
    top: 0;
    margin: 0 auto;

}


/*-------- HEADER  ---------*/

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.header-grid-comp {
  display: inline-block;

}

/* NAVIGATION */

.navbar {
  background-color: #ffffff;
  display: block;
  height: 6.4rem;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}



.nav-grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.nav-right {
  margin-left: 12.65%;
}

.nav-link {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 3.1rem;
  width: 8.6rem;
  margin-right: 2.4rem;
}

.icon {
  display: none;
}



/* INDEX.HTML */

.greeting {
    margin: 9.6rem 0 0 0;
    padding-left: 12.65%;
}

.intro {
  font-weight: normal;
  margin-top: 2.4rem;
  padding-left: 12.65%;
  width: 36rem;
}


.work {
  margin: 25.6rem 0 0 4.68%;
}

.projects {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(450px, 1fr));
}


.project {
  width: 30.7rem;
/*  margin-left: 5.2rem; */
  margin-top: 4.8rem;
  padding-left: 12.65%;
}

.project-img {
  display: inline-block;
  width: 30.6rem;
}

.project-text {
  display: inline-block;
  margin: .8rem 0;

}

.project-title {
  margin-top: 2.4rem;
}

.project-description {
  margin-top: 1.6rem;
}

.button {
  color: #D62665;
  border-bottom: 2px solid;
  padding-bottom: 2px;
}

.project-link {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

/* .bag-link { */
/*  cursor: url("../images-copy/bag-cursor-icon.png"), auto; } */


/* FOOTER */

.connect {
  margin: 4.8rem 0 0 4.68%;
}

.talk {
  font-weight: normal;
  margin: 4.8rem auto;
  width: 30.6rem;
}

.footer {
  background-image: url("../images/blue-bg-userflow.png");
  background-repeat: repeat;
  background-size: contain;
  height: 9.4rem;
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  min-width: 38rem;

}

.home-footer {
  background-image: url("../images-copy/bg-yellow.png") , url("../images-copy/bg-yellow.png");
}

.footer-project {
  background-image: url("../images-copy/bg-red.png") , url("../images-copy/bg-red.png");
}

.footer-items {
  width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.fas , .fab {
  color: #000;
  font-size: 2.4rem;
  margin: 1.6rem auto;
  padding-left: .8rem;
}

.fas:hover {
  color: #F5003B;
}

.fab:hover {
  color: #F5003B;
}

.signature {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.more {
  margin-top: 9.6rem;
}

/* ABOUT */

.more {
  margin: 14.4rem 0 0 4.68%;
}

.about-grid {
 display: grid;
 grid-template-columns:repeat(auto-fit, minmax(450px, 1fr));
}

.bio {
  margin: 7.2rem 0 0 15.28%;
  width: 30.7rem;
}

.portrait {
  background-image: url("../images-copy/halftone-portrait-blue.png") , url("../images-copy/halftone-portrait-red.png");
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  border-radius: .4rem;
  width: 38rem;
  margin-top: 7.2rem;
  margin-left: 12.65%;
}

.my-face {
  display: none;
}

.pull-quote {
  color: #F5003B;
  margin: 4.8rem 0 0 4.68%;
  max-width: 96.6rem;
}


/* PROJECT -1 */




.project-container {
    background-image: url("../images-copy/bag-phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 96% 50%;
    height: 62vh;
    top: 0;
    margin: 0 auto;


}

#top {
  margin-top: 14.4rem;
}


.process-grid {
 display: grid;
 grid-template-columns:repeat(auto-fit, minmax(450px, 5fr));

}

.left {
  margin: 3.6rem 0 0 15.28%;
  width: 39.7rem;
}

.right {
  margin-left: 12.65%;
  margin-top: 3.6rem;
  width: 39.7rem;
  grid-column-end: -1;
}

.bag-intro {
  margin-top: 7.2rem;

}

.blurb {
  margin-top: 2.4rem;
}

.top-blurb {
  margin-top: 3.6rem;
}

.roles,  {
  margin-top: 3.6rem;
}

.tools {
  margin-top: 3.6rem;
}


.roles-list, .tools-list {
 margin-top: 2.4rem;
}

.problem {
  margin-top: 14.4rem;
}

.process {
  margin: 9.6rem 0 0 4.68%;
}

.section-head {
  margin-top: 4.8rem;
}

.sections {
  margin-top: 9.6rem;
}

.follow{
  margin-top: 9.6rem;
}

.project-image {
  margin-top: 4.8rem;
  width: 38rem;
}

.yellow {
  background-image: url("../images-copy/bg-yellow.png");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 3.6rem;
}


.blue {
  background-image: url("../images-copy/bg-blue.png");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 3.6rem;
}

.red {
  background-image: url("../images-copy/bg-red.png");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 3.6rem;
}


.style-guide {
  margin: 9.6rem 0 0 7.14%;
}

.big-image-display {
  margin: 2.4rem 3.16%;
}

.persona-photos {
  background: #2FDED4;
  border-radius: .8rem;
  margin-top: 3.6rem;
}

.hari {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
  margin-left: 2%;
  margin-top: -1%;
}

.khara {
  mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%);
  opacity: 1;
  margin-left: 2%;
  margin-top: -1%;
}

.big-images {
  display: inline-block;
  justify-content: center;
  margin: 4.8rem .83%;
}

.undertext {
  margin-top: 1.6rem;
}

.full-project-image {
  display: inline-block;
  width: 25rem;
  box-shadow: 0 4px 8px 0 rgba(62, 114, 117, 0.4);
  border-radius: .4rem;
}


.testing {
  margin: 9.6rem 0 0 4.68%;
}


.conclusion {
  margin: 9.6rem 0 0 4.68%;;
}

.summary {

  margin-top: 4.8rem;
}

.to-top {
  margin: 7.2rem 7.14%;
}

/* PERSONAS */

.persona-display {
  top: 50%;
  left: 50%;
}

.persona-full {
  display: block;
  width: 80%;
  height: auto;

  margin: 9.6rem auto;
}

.persona-card {
  max-width: 80%;
}

/* PROJECT -2 */




.project-two-container {
    background-image: url("../images-copy/haricot-demo.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 96% 50%;
    height: 62vh;
    top: 0;
    margin: 0 auto;


}
