
@media screen and (max-width: 900px ) {

  .container {
    background-image: url("../images/mobile-hero.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: auto;
  }

  .nav-grid {
   display: grid;
   grid-template-columns: 1fr 5fr;
  }


  .nav-right {

    margin: auto;
  }


  .nav-link {
    display: inline-block;
    font-size: 2.4rem;
    font-weight: bold;
    padding-top: 3.1rem;
    margin: auto;
  }

  .my-logo {
    padding: 0 2rem;
    height: 2.8rem;
    margin-top: 2.4rem;
  }


   .icon {
     color: #00e2f0;
     display: inline-block;
     font-size: 2.4rem;
     padding: 0 .4rem;
     margin-top: .8rem;
   }


   .header-spacer {
     display: none;
   }

   .greeting {
       margin: 9.6rem 0 auto auto;
   }

   .intro {
     font-weight: normal;
     margin-top: 2.4rem;
     width: 36rem;
   }

   .work {
     margin: 25.6rem 0 auto 4.68%;
   }



   .project {
     width: 30.7rem;
     margin: 1.6rem 0 0 6.3%;
     padding-left: 0%;
   }

   .project-img {
     display: block;
     width: 30.7rem;
   }

   .project-text {
     display: block;
     margin: .8rem 0;

   }
/* ABOUT */

.bio {
  margin: 7.2rem 0 0 6.3%;
  width: 30.7rem;
}

   .portrait {
     width: 30.7rem;
     margin-left: 6.3%;
   }


   /* PROJECTS */

   .project-container {
       background-image: url("../images/bag-phone-small.png");
       background-repeat: no-repeat;
       background-size: contain;
       background-position: 50% 0%;
       height: 8vh;
       position: relative;
       top: 0;
       margin: 0 auto;


   }

   .summary {
     margin-top: 31.4rem;
   }


   .process-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 500px;
   }

   .left {
     margin-left: auto;
   }

   .right {
     margin-left: auto;
   }
}

@media screen and (min-width: 901px ){

  .navbar {
    height: 8.6rem;
  }

  .my-logo {
    padding-left: 4.8rem;
    height: 4.9rem;
    margin-top: 1.6rem;
  }

  .nav-right {


  }

   .nav-link {
     display: inline-block;
     font-size: 2.4rem;
     font-weight: bold;
     padding-top: 3.1rem;
     width: 8.6rem;
     margin-right: 2.4rem;
   }


   .header-grid-comp {

   }

   .greeting {
     margin-top: 14.4rem;
   }

   .intro {
     width: 40rem;
   }



   .second-project {

   }

   .project-text {
     width: 30.7rem;
   }

   .connect {
     margin-top: 7.2rem;
   }

   .bio-cont {
     margin: 7.2rem 0 0 8%;
   }

   .project-container {
       background-image: url("../images/bag-phone.png");
       background-repeat: no-repeat;
       background-size: contain;
       background-position: 90% 0%;
       height: 48vh;
       position: relative;
       top: 0;
       margin: 0 auto;


   }

}
