@media screen and (max-width: 900px ) {

  .container {
    background-image: url("../images/mobile-hero.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: auto;
  }

  .nav-right {
    margin-left: 80%;
  }

  .my-logo {
    padding: .8rem 2rem 0 2rem;
    height: 2.8rem;
  }

   .fa-bars {
     color: #00e2f0;
     display: inline-block;
     font-size: 2.4rem;
     padding: .4rem;
   }

   .header-grid-comp {
     margin-left: 12.65%;
   }


   .header-spacer {
     display: none;
   }


}

@media screen and (min-width: 901px ){

  .my-logo {
    padding: 1.1rem 0 0 4.8rem;
    height: 4.9rem;
  }

  .nav-right {


  }

   .nav-link {
     display: inline-block;
     font-size: 2.4rem;
     font-weight: bold;
     padding-top: 3.1rem;
     margin: 0;
     padding-right: 2.4rem;
   }


   .header-grid-comp {

   }

   .greeting {
     margin-top: 14.4rem;
   }

   .intro {
     width: 40rem;
   }



   .second-project {

   }

   .project-text {
     width: 30.7rem;
   }

   .connect {
     margin-top: 7.2rem;
   }

}
